<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://js.stripe.com/v3/"></script> -->
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script>
        var stripePublicKey = '<%= stripePublicKey %>'
    </script>
    <script src="client.js" defer></script>
</head>
<body>
    <h1>Store</h1>
    <h2><%= items.name %> </h2>
    <h3><%= '$'+items.price %> </h3>
    <input type="number" style="width:40px;">Quantity<br>
    <button>BUY</button>
</body>
</html>